*.step -diff linguist-generated=true
*.stl binary linguist-generated=true
cad/**/*.png binary linguist-generated=true
firmware/ProstheticHand/EMGFilters.cpp linguist-vendored=true
firmware/ProstheticHand/EMGFilters.h linguist-vendored=true
